:root {
    --color-primary: #4d13d1;
    --color-white: #ffffff;
    --color-hero-bg: #fbf8f3;
    --color-text-body: #4f4f4f;
    --color-text-headings: #222222;
    --color-gray-md: #dadada;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--color-text-body);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text-headings);
    line-height: 1.15;
}

.wrapper,
.footer {
    padding: 2.2222rem;
    background-color: var(--color-hero-bg);
}

.wrapper {
    margin-bottom: 4.4444rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header, .hero, .footer__content {
    max-width: 63.3333rem;
    margin: 0 auto;
}

.logo {
    font-weight: bold;
}

.nav {
    width: 1.3333rem;
    height: 1.3333rem;
    background-color: black;
    border: 0;
}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.7778rem, 1fr));
    align-items: center;
}

.hero__image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    order: 1;
}

.hero__actions {
    display: flex;
    flex-wrap: wrap;
}

.hero__actions .btn {
    flex-shrink: 1;
    flex-grow: 1;
}

.hero__features {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.hero__features li {
    margin: 0.4444rem 0;
    display: flex;
    align-items: center;
    gap: 0.4444rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.main {
    margin: 0 2.2222rem;
}

.main > section {
    max-width: 63.3333rem;
    margin: 0 auto 4.4444rem;
}

.features__header h2 {
    color: var(--color-primary);
    font-size: 0.8889rem;
    margin-bottom: 1rem;
}

.features__header p {
    margin: 0 0 2.2222rem;
    font-size: 2rem;
    color: var(--color-text-headings);
    font-weight: bold;
}

.features__content {
    display: grid;
    gap: 2.2222rem;
    grid-template-columns: repeat(auto-fit, minmax(17.7778rem, 1fr));
}

.features__item h3 {
    margin: 0;
    font-size: 0.8889rem;
}

.features__item p {
    margin-bottom: 0;
}

.diversify {
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.5556rem;
    padding: 2.6667rem 1.7778rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(11.1111rem, 1fr));
    align-items: center;
}

.diversify h2 {
    color: var(--color-white);
    margin-top: 0;
}

.diversify img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.5556rem 0.5556rem 0 0;
}

.testimonials {
    display: grid;
    gap: 2.2222rem;
    grid-template-columns: repeat(auto-fit, minmax(17.7778rem, 1fr));
}

.testimonials__item {
    border: solid 1px var(--color-gray-md);
    border-radius: 0.2778rem;
    padding: 1.3333rem;
    margin-bottom: 2.2222rem;
}

.testimonials__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8889rem;
}

.testimonials__header h3 {
    font-size: 0.8889rem;
    color: var(--color-primary);
}

.testimonials__header img {
    width: 2.2222rem;
    height: 2.2222rem;
}

.testimonials__header-info h3,
.testimonials__header-info p {
    margin: 0;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 60ch;
}

.footer__company-info {
    flex-basis: 320px;
}

.footer h3 {
    font-size: 1.1111rem;
}

.footer__navigation {
    display: grid;
    gap: 2.2222rem;
    grid-template-columns: repeat(auto-fit, minmax(11.1111rem, 1fr));
}

.footer__nav,
.footer__company-info {
    margin-bottom: 2.2222rem;
}

.footer__nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__nav a {
    color: var(--color-text-body);
    text-decoration: none;
}

.btn {
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 0.2778rem;
    color: var(--color-white);
    display: flex;
    font-weight: bold;
    height: 3.3333rem;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
}

.btn--link {
    background: none;
    color: var(--color-primary);
    text-decoration: underline;
}

.btn--invert {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: solid 1px var(--color-gray-md);
}
